[Desktop Entry]
Name=Tournoi
GenericName=Tournoi
Comment=Create a tournament with ease
Categories=Development;
Exec=com.github.malothebault.tournoi
Icon=com.github.malothebault.tournoi
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.malothebault.tournoi
Keywords=Python;
